{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Latest News{% endblock %}

{# Blog - post_list #}
{% block content %}
<main id="postList">

  {# Blog Post List Page Header #}
  <header class="post-list-header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Blog</h1>
        <p class="lead">News and Tutorials</p>
        <hr class="my-4">
        <p>Latest and greatest about Unreal Engine arch viz and other exciting technologies.</p>
      </div>
    </div>
  </header>

  <section class="post-list container">

    {# Filter Select Dropdown #}
    <div class="post-list-filter mb-5">
      <form action="{% url 'posts_list' %}" method="GET">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label for="filterSelect" class="input-group-text">Filter Posts by</label>
          </div>
          <select id="filterSelect" class="custom-select" name="post-filter-select">
            {# match user choice with available select options to set 'selected' #}
            {% for choice in filter_choices %}
            <option {% if chosen_filter == choice %} selected {% endif %}>{{choice}}</option>
            {% endfor %}
          </select>
        </div>
          <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>
    
    {# Blog Post List - Cards #}
    <div class="post-list-cards">
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-6">
          <div class="card mb-5">
            <a href="{{ post.get_absolute_url }}">
              <div class="card-img-top" style="background-image: url('{% if post.image %}{{ post.image.url }}{% else %}http://placehold.it/500?text=bkg-img{% endif %}');"></div>
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
              <p class="card-text">{{ post.get_short_content|striptags }}</p>
              <div class="d-flex w-100 justify-content-between">
                <p class="card-text"><small class="text-muted">{{ post.published_date|date:"N d, Y" }}</small></p>
                <p class="card-text"><small class="text-muted">{{ post.category|capfirst }}</small></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {# Pagination #}
    <nav class="post-list-pagination">
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.previous_page_number }}{% if chosen_filter %}&amp;post-filter-select={{ chosen_filter }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span>Previous</span>
          </a>
        </li>
        {% endif %}
        {% if posts.has_previous or posts.has_next %}
          {% for num in paginator.page_range %}
            {% if posts.number == num %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if chosen_filter %}&amp;post-filter-select={{ chosen_filter }}{% endif %}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}{% if chosen_filter %}&amp;post-filter-select={{ chosen_filter }}{% endif %}" aria-label="Next">
              <span>Next</span>
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  </section>
</main>
{% endblock %}
