{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load social_share %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Blog - {{ post.title }}{% endblock %}

{# Blog - post_detail #}
{% block content %}
<main id="postDetail">

    {# Blog Post Detail Main Image #}
    <div class="post-detail-image jumbotron jumbotron-fluid" style="background-image: url('{% if post.image %}{{ post.image.url }}{% else %}http://placehold.it/500?text=bkg-img{% endif %}');">
    </div>

	<article class="post-detail container rounded-top pr-md-4 pl-md-4">

    {# Blog Post Detail Header #}
    <header class="post-detail-header">
      <p class="font-italic mb-0 pt-4">{{ post.published_date |date:"N d, Y" }}</p>
      <h1>{{ post.title }}</h1>
      <p class="font-italic mt-4 mb-5">by: {{ post.get_author }}</p>
    </header>

    {# Full Blog Post Content #}
    <div class="post-detail-content">
        {% autoescape off %}{{ post.content }}{% endautoescape %}
    </div>

    {# Blog Post Updated Date #}
    {% if post.updated_date %}
    <div class="post-detail-updated mt-5">
      <p class="font-italic" >Last updated: {{ post.updated_date|date:"N d, Y" }}</p>
    </div>
    {% endif %}

    {# Social Share #}
    <div class="social-share mt-4">
      <p>Share:</p>
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          {% post_to_facebook post "Share of Facebook" %}
        </li>
        <li class="list-inline-item">
          {% post_to_twitter "I found this awesome {{post.category}} on RTarchViz: {{post.title}}. Check it out!" post "Share on Twitter" %}
        </li>
        <li class="list-inline-item">
          {% post_to_gplus post "Share on Google+" %}
        </li>
        <li class="list-inline-item">
            {% post_to_linkedin post.title post "Share on LinkedIn" %}
        </li>
        <li class="list-inline-item">
          {% send_email post.title "I found this awesome {{post.category}} on RTarchViz: {{product.name}}. Check it out!" post "Share via email" %}
        </li>
      </ul>
    </div>
    {# /.Social Share #}

    {# Blog Post Detail Next/Prev Navigation #}
    <nav class="post-detail-nav mt-5">
      <ul class="pagination justify-content-center">
        {% if prev_post %}
        <li class="page-item">
          <a class="page-link" href="{% url 'post_detail' prev_post.published_date.year prev_post.published_date.month prev_post.slug %}">
            <span aria-hidden="true">&laquo;</span>
            <span class="font-italic">{{prev_post.title}}</span>
          </a>
        </li>
        {% endif %}
        <li class="page-item text-center posts-list-btn">
          <a class="page-link" href="{% url 'posts_list' %}">
            Back To Blog
          </a>
        </li>
        {% if next_post %}
        <li class="page-item">
          <a class="page-link" href="{% url 'post_detail' next_post.published_date.year next_post.published_date.month next_post.slug %}">
            <span class="font-italic">{{next_post.title}}
            </span><span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
      
    </nav>

  </article>

  {# DISQUS Comments #}
  <div class="post-detail-comments container">
    {% load disqus_tags %}
    {% set_disqus_title post.title %}
    {% disqus_show_comments %}
  </div>
  
</main>
{% endblock %}
