{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{# set page info #}
{% block page_title %}Blog{% endblock %}

{# Profile content #}
{% block content %}
<main>
	<section id="profile">
		<div class="container">
      <div class="row">
        <div>
          <h2>Blog</h2>
          <p>News and Tutorials</p>
        </div>
      </div>
      {% for post in posts %}
			<div class="row">
        <div>
          <h5>{{ post.title }}</h5>
          <p>{{ post.content }}</p>
          <p>published: {{ post.published_date }}</p>
          <p>author: {{ post.get_author }} </p>
          <p>status: {{ post.status }} </p>
        </div>
      </div>
      {% endfor %}
		</div>
	</section>
</main>
{% endblock %}

