{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{# set page info #}
{% block page_title %}Blog - {{ post.title }}{% endblock %}

{# Profile content #}
{% block content %}
<main>
	<section id="postDetail">
		<div class="container">
      <div class="row">
        <div>
          <h2>Blog Post</h2>
        </div>
      </div>
			<div class="row">
        <div>
          <h5>{{ post.title }}</a></h5>
          <p>CONTENT: {{ post.content}}</p>
          <p>published: {{ post.published_date }}</p>
          <p>author: {{ post.get_author }} </p>
        </div>
      </div>
		</div>
	</section>
</main>
{% endblock %}

