{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Products{% endblock %}


{# Products - products_list #}
{% block content %}
<main id="productList">

  {# Product List Page Header #}
  <header class="product-list-header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Products</h1>
        <p class="lead">Unreal Engine assets for real time arch viz</p>
        <hr class="my-4">
        <p>shop shop shop</p>
      </div>
    </div>
  </header>

  <section class="product-list container">

    {# Filter and sort Select Dropdowns #}
    <div class="product-list-filter-category mb-5">
      <form action="{% url 'products_list' %}" method="GET">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="category-select" class="input-group-text">Category</label>
              </div>
              <select class="custom-select" id="category-select" name="product-category-select">
                {% for choice in category_choices %}
                <option {% if chosen_category == choice %}selected{% endif %}>{{ choice }}</option>
                {% endfor%}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <label for="sort-select" class="input-group-text">Sort by</label>
              </div>
              <select class="custom-select" id="sort-select" name="product-sort-select">
                {% for choice in sort_choices %}
                <option {% if chosen_sort == choice %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
      </form>
    </div>

    {# Product List - Cards #}
    <div class="product-list-cards">
      <div class="row">
        {% for product in products %}
        <div class="col-md-6 col-lg-4">
          <div class="card mb-5">
            <a href="{{ product.get_product_detail_url }}">
              <div class="card-img-top" style="background-image: url('{% if product.main_image %}/media/{{ product.main_image }}{% else %}http://placehold.it/500?text=bkg-img{% endif %}');"></div>
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ product.get_product_detail_url }}">{{ product.name }}</a></h5>
              <p class="card-text">Sold by <a href="{% url 'profile' product.seller %}">{{ product.seller }}</a></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="product-version">UE Version: {{ product.ue_version }}</span>
                <span class="product-rating">Rating *****</span>
              </li>
              <li class="list-group-item">
                <span class="product-category">Category: {{ product.category|capfirst }}</span>
                <span class="product-price">&euro;{{ product.price}}</span>
              </li>
            </ul>
            <div class="card-body">
              <a href="{{ product.get_product_detail_url }}" class="btn btn-outline-primary btn-lg btn-block">More Details</a>
              {% if request.user.id == product.seller_id %}
              <a href="{{ product.get_edit_product_url }}" class="btn btn-primary btn-lg btn-block">Edit Your Product</a>
              {% else %}
              <a href="#" class="btn btn-primary btn-lg btn-block">Add to Cart</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {# Pagination #}
    <nav class="product-list-pagination">
      <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}{% if chosen_category or chosen_sort %}&amp;product-category-select={{ chosen_category }}&amp;product-sort-select={{ chosen_sort }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span>Previous</span>
          </a>
        </li>
        {% endif %}
        {% if products.has_previous or products.has_next %}
          {% for num in paginator.page_range %}
            {% if products.number == num %}
            <li class="page-item active page-link">{{ num }} <span class="sr-only">(current)</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if chosen_category or chosen_sort %}&amp;product-category-select={{ chosen_category }}&amp;product-sort-select={{ chosen_sort }}{% endif %}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}{% if chosen_category or chosen_sort %}&amp;product-category-select={{ chosen_category }}&amp;product-sort-select={{ chosen_sort }}{% endif %}" aria-label="Next">
              <span>Next</span>
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  </section>
</main>
{% endblock %}
