{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load product_tags %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Product - {{ product.name }}{% endblock %}

{# Products - product_detail #}
{% block content %}

{# Product Detail Carousel #}
<header class="product-detail-carousel">
  <div id="productCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#productCarousel" data-slide-to="1"></li>
      <li data-target="#productCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-image" style="background-image: url('{% if product.main_image %}{{ product.main_image.url }}{% else %}http://placehold.it/300x200?text=bkg-img{% endif %}')" alt="First slide"></div>
      </div>
      <div class="carousel-item">
        <div class="carousel-image" style="background-image: url('{% if product.main_image %}{{ MEDIA_URL }}{{ product.main_image }}{% else %}http://placehold.it/300x200?text=bkg-img{% endif %}')" alt="First slide"></div>
      </div>
      <div class="carousel-item">
        <div class="carousel-image" style="background-image: url('{% if product.main_image %}{{ MEDIA_URL }}{{ product.main_image }}{% else %}http://placehold.it/300x200?text=bkg-img{% endif %}')" alt="First slide"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<main id="productDetail">

  {# Product Detail Header #}
  <header class="product-detail-header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{ product.name }}</h1>
        <hr class="my-4">
        <p>Sold by: <a href="{% url 'profile' product.seller %}">{{ product.seller }}</a></p>
        <p>Added: {{ product.added_date|date:"N d, Y" }}</p>
        <p>UE Version: {{ product.ue_version }}</p>
        <p>{% if product|get_average_rating != 0 %}Rating: {{ product|get_average_rating }}{% else %}not yet rated{% endif %}</p>
        <p>{{ product.euro_price }}</p>
        {% if request.user.id == product.seller_id %}
        <a href="{{ product.get_edit_product_url }}" class="btn btn-primary btn-lg">Edit Your Product</a>
        {% else %}
          {% if product in owned_assets %}
          <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success btn-lg disabled">Owned</a>
            {% if product.product_file %}
            <a href="/media/{{ product.product_file }}" class="btn btn-success btn-lg">Download</a>
            {% endif %}
          {% elif product in cart_items %}
          <a href="" class="btn btn-primary btn-lg disabled">Already in Cart</a>
          {% else %}
          <a href="#" class="btn btn-primary btn-lg">Buy Now</a>
          <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-lg">Add to Cart</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </header>

  {# Product Description #}
  <section class="product-detail-info container">
    <h2>Description</h2>
    <hr class="my-4">
      <p>{{ product.description|linebreaks }}</p>
  </section>

  <section class="product-detail-social">
    <!-- placeholder for social share actions -->
  </section>

  <section class="product-detail-review container">
    {# Product Reviews #}
    <div class="product-detail-review-entries pb-4">
      <h2>Reviews <small>{% if product|get_review_count != 0 %} ({{ product|get_review_count }}){% endif %}</small></h2>
      <hr class="my-4">
      {% if product_reviews %}
        {% for review in product_reviews %}
        <p>By {{ review.buyer.username }}</p>
        <p>Rating: {{ review.rating }}</p>
        {% if review.review_text %}
        <p>Review: {{ review.review_text }}</p>
        {% endif %}
        <p>
          {% if review.buyer_id == request.user.id %}
          <a href="{{ review.get_edit_review_url }}" class="btn btn-primary">Edit Your Review</a>
          <a href="{% url 'delete_review' product.slug product.id review.id %}" class="btn btn-danger">Delete Your Review</a>
          {% endif %}
        </p>
        {% endfor %}
      {% else %}
        <p>No review yet.</p>
      {% endif %}
    </div>

    {# Display ReviewForm #}
    {% if request.user.is_authenticated and not already_reviewed and not product.seller == request.user %}
    <div class="product-detail-review-form">
      <h5>Leave a Reveiw</h5>
      {% if product in owned_assets %}
      {% include '_review_form_partial.html' %}
      {% else %}
      <p>You need to have purchased the product to be able to leave a review.</p>
      {% endif %}
    </div>
    {% endif %}
  </section>

</main>
{% endblock %}
