{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Edit Product Form{% endblock %}

{# Display the ProductForm #}
{% block content %}
<main id="productForm">

  {# Product Form Page Header #}
  <header class="product-form-header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Edit Your Product</h1>
        <p class="lead">tralalalal</p>
        <hr class="my-4">
        <p>yep yep yep</p>
      </div>
    </div>
  </header>

  <section class="product-form container">
    <form role="form" enctype="multipart/form-data" method="POST" action="{{ product.get_edit_product_url }}">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
			<button type="submit" class="btn btn-primary">Save Changes</button>
			<a href="{{ product.get_absolute_url }}" class="btn btn-primary">Cancel</a>
			<a href="{{ product.get_delete_product_url }}" class="btn btn-danger">Delete</a>
			{% endbuttons %}
		</form>
  </section>
</main>
{% endblock %}
