{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Edit Your Review{% endblock %}

{# Edit Review content #}
{% block content %}
<main id="reviewForm">

  {# Edit Review Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        <div class="page-heading">

          {# Heading Text #}
          <h1 class="display-4">Edit Review</h1>
          <p class="lead">You are editing your review for <strong>{{review.product.name}}</strong></p>
          {# /.Heading Text #}

        </div>
        <div class="page-subheading text-white">
          
          {# Subheading Text #}
          <hr class="my-4">
          <p>Original review submitted on {{ review.added_date|date:"N d, Y" }}</p>
          <p>We value your feedback</p>
          {# /.Subheading Text #}

        </div>
      </div>
    </div>
  </header>
  {# /.Edit Review Header #}

  {# Edit Review Form #}
  <section class="review-form container">
    {% include '_review_form_partial.html' %}
    <a href="{{ product.get_absolute_url }}" class="btn btn-primary btn-spinner">Cancel</a>
    <a href="{{ product.get_delete_product_url }}" class="btn btn-danger btn-spinner">Delete</a>
  </section>

</main>
{% endblock %}
