/* GLOBAL - NAVIGATION */
.nav-underline .nav-link {
  border-bottom: .25rem solid transparent;
}
.nav-underline .active .nav-link,
.nav-underline .active .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 1);
}
.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

/* GLOBAL - SERVER MESSAGES */
.auth-messages {
  background-color: lightgray;
  display: inline-block;
  padding: 2rem;
  border-radius: 3px;
  z-index: 100;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}

.spinner {
  color: #6b52f5;
}

.page-heading {
  color:#edb867; /*#C5B64F*/
}

/* GLOBAL - GENERAL LAYOUT */
section {
  margin-top: 5em;
  margin-bottom: 5em;
}
article {
  margin-bottom: 5em;
}

section hr {
  margin-top: .75rem;
  margin-bottom: 1.75rem;
}

.footer,
.footer a {
  color: rgba(255,255,255,.86)
}

.footer a:hover {
  color: rgba(255,255,255,1);
}
.footer-links li {
  margin-bottom: 0.75rem;
}

.footer hr,
.jumbotron hr {
  border-color: #48455a;
}

.footer .footer-links hr {
  width: 60px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) {
  .footer-action-call .back-to-top {
    margin-top: 2rem;
    font-size: 1.25rem;
  }
}


/* Bootstrap 4 BUTTONS overwrite */
.btn-success {
  background-color: #31922C;
  border-color: #31922C;
}

.btn-success.disabled,
.btn-success:disabled {
  background-color:#31922C;
  border-color: #31922C;
}
.btn-primary {
  background-color: #6b52f5;
  border-color: #6b52f5;
}

.btn-primary:hover {
  background-color: #523adf;
  border-color: #523adf;
}

.btn-primary.disabled {
  background-color: #6e5eff;
  border-color: #6e5eff;
}

.btn-primary.focus, .btn-primary:focus,
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(107,82,245,.25)
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(107,82,245,.25)
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: #472fcc;
  border-color: #472fcc;
}

.btn-outline-primary {
  color: #6b52f5;
  border-color: #6b52f5;
}

.btn-outline-primary:hover {
  background-color: #523adf;
  border-color: #523adf;
}

.page-item.active .page-link {
  background-color: #6b52f5;
  border-color: #6b52f5;
}
.page-link {
  color: #6b52f5
}
a {
  color: #6b52f5;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #6b52f5;
}

/* SOCIAL SHARE ICONS */
.social-share {
  text-align: center;
}
.social-share ul {
  font-size: 2rem;
}

@media (min-width: 576px) {
  .social-share p {
    display: inline-block
  }
  .social-share>ul {
    display: inline-block;
    font-size: 1rem;
    padding-left: 1rem;
  }
  .social-share {
    text-align: left;
  }
}
/* COLORS utility classes */
.bg-indigo {
  background-color: #6b52f5;
}

.text-indigo {
  color: #6b52f5;
}

.bg-dark {
  background-color: #302e3a !important;
}

.bg-light {
  background-color: #e3e0fd !important;
}

.bg-dark-2 {
  background-color: #212129
}


/* STICKY CART ICON */
#sticky-cart {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  text-decoration: none;
}

/* change some bootstrap 4 buttons to block on small screens */
@media (max-width: 575.98px) {
  .btn-block-xs {
    width: 100%;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: normal;
  }
}