/* GLOBAL - NAVIGATION */
.nav-underline .nav-link {
  border-bottom: .25rem solid transparent;
}
.nav-underline .active .nav-link,
.nav-underline .active .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 1);
}
.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

/* GLOBAL - SERVER MESSAGES */
.auth-messages {
  background-color: lightgray;
  display: inline-block;
  padding: 2rem;
  border-radius: 3px;
  z-index: 100;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}

.page-heading {
  color:#C5B64F
}

/* GLOBAL - GENERAL LAYOUT */
section {
  margin-top: 5em;
  margin-bottom: 5em;
}
article {
  margin-bottom: 5em;
}

.footer,
.footer a {
  color: rgba(255,255,255,.86)
}

.footer a:hover {
  color: rgba(255,255,255,1);
}
.footer-links li {
  list-style-type: none;
  margin-bottom: 0.75rem;
}

.footer hr,
.jumbotron hr {
  border-color: #48455a;
}

.footer .footer-links hr {
  width: 60px;
}



/* BUTTONS */

.btn-primary {
  background-color: #6b52f5;
  border-color: #6b52f5;
}

.btn-primary:hover {
  background-color: #523adf;
  border-color: #523adf;
}

.btn-outline-primary {
  color: #6b52f5;
  border-color: #6b52f5;
}

.btn-outline-primary:hover {
  background-color: #523adf;
  border-color: #523adf;
}

/* COLORS */
.bg-indigo {
  background-color: #6b52f5;
}

.text-indigo {
  color: #6b52f5;
}

.bg-dark {
  background-color: #302e3a !important;
}

.bg-light {
  background-color: #e3e0fd !important;
}

.bg-dark-2 {
  background-color: #212129
}
