/* PRODUCTS - GENERAL */
main {
  background-color: white;
}

/* PRODUCT DETAIL IMAGE */
.product-detail-image {
  height: 20em;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product-list {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 576px) {
  .product-detail-image {
    height: 23em;
  }
}
@media (min-width: 768px) {
  .product-detail-image {
    height: 28em;
  }
}
@media (min-width: 992px) {
  .product-detail-image {
    height: 34em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .product-detail-image  {
    height: 40em;
    width: 85%;
    
  }
}

.product-detail-header a {
  color: white;
}
.product-detail-header .product-details li {
  margin-top: .75rem;
  margin-bottom: .75rem;
}
.product-detail-header .product-price {
  font-size: 2rem;
}

/* PRODUCTS - REUSABLE _product_list_cards_partial.html TEMPLATE */
.product-list-cards .card-img-top {
  height: 17em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 380px) {
  .product-list-cards .card-img-top {
    height: 12em;
  }
}
@media (min-width: 576px) {
  .product-list-cards .card-img-top {
    height: 20em;
  }
}
@media (min-width: 768px) {
  .product-list-cards .card-img-top {
    height: 15em;
  }
}

/* PRODUCT STAR RATINGS */
.rating-count {
  display: inline-block;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #6b52f5;
}

.product-detail-header .stars-inner::before {
  color: #edb867;
}

/* PRODUCT REVIEWS */
.review {
  border-left: 4px solid #6b52f5;
  padding-left: 1rem;
}

.review>p {
  margin-bottom: .5rem;
}