{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required js and css #}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  //<![CDATA[
  Stripe.publishableKey = '{{ publishable }}';
  //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{# set page info #}
{% block page_title %}Checkout{% endblock %}

{# Checkout content #}
{% block content %}
<main id="productForm">

  {# Checkout Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        
        {# Heading Text #}
        <div class="page-heading">
          <h1 class="display-4">Checkout</h1>
          <p class="lead">Please provide your payment details below</p>
        </div>
        {# /.Heading Text #}

        {# Subheading Text #}
        <div class="page-subheading text-white">
          <hr class="my-4">
          <p>Download link will be provided after you submit your payment details</p>
        </div>
        {# /.Subheading Text #}

      </div>
    </div>
  </header>
  {# /.Checkout Header #}

  {# Payment Form #}
  <section class="checkout-form container">
    <form role="form" method="POST" name="payment_form" id="paymentForm" action="{% url 'checkout' %}">

      {# Stripe errors #}
      <div class="alert alert-danger" id="credit-card-errors" role="alert" style="display:none;">
        <span id="stripe-error-message"></span>
      </div>
      {# /.Stripe errors #}
      
        {% csrf_token %}
        {% bootstrap_form payment_form %}
        {% buttons %}
          <button type="submit" id="validate_card_btn" class="btn btn-primary">Make Payment</button>
        {% endbuttons %}
		</form>
  </section>
  {# /.Payment Form #}

</main>
{% endblock %}
