/* BLOG - DETAIL */
.post-detail-image {
  height: 16em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  .post-detail-image {
    height: 23em;
  }
}
@media (min-width: 768px) {
  .post-detail-image {
    height: 30em;
  }
}
.post-detail-content p:first-child::first-letter {
  font-size: 1.75em;
  font-weight: 700;
}
.next-post-title {
  vertical-align: bottom;
}

/* BLOG - LIST */
.card-img-top {
  height: 22em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.post-list {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 576px) {
  .post-image {
    height: 35em;
    margin-bottom: 0;
  }
  .post-detail {
    position: relative;
    top: -8em;
    background-color: white;
  }
  .post-detail-comments {
    position: relative;
    top: -5em;
  }
}
@media (min-width: 768px) {
  .post-detail-content{
    font-size: 1.25em;
  }
}

/* BLOG - REUSABLE _recent_posts_list_partial.html TEMPLATE */
.recent-posts .post-image {
  height: 10em;
  width: 12em;
  margin-right: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 575.98px) {
  .recent-posts .post-image {
    height: 12em;
    width: 100%;
    margin-bottom: 1em;
  }
}