{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Change Password{% endblock %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display the PasswordChangeForm #}
{% block content %}
<section id="changePassword">
  <div class="container">
    <h2>Change Password</h2>
    <form role="form" method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Cancel</a>
      {% endbuttons %}
    </form>
  </div>
</section>
{% endblock %}
