{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Change Password{% endblock %}

{# Display the PasswordChangeForm #}
{% block content %}
<main id="changePassword">

  {# Update User Details Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        <div class="page-heading">

          {# Heading Text #}
          <h1 class="display-4">Change Password</h1>
          {# /.Heading Text #}

        </div>
        <div class="page-subheading text-white">
          
          {# Subheading Text #}
          <hr class="my-4">
          <p>Complete the form below to change your account password</p>
          {# /.Subheading Text #}

        </div>
      </div>
    </div>
  </header>
  {# /.Update User Details Header #}

</main>
<section>
  <div class="container">
    <h2>Change Password</h2>
    <hr>
    <form role="form" method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-spinner">Cancel</a>
      {% endbuttons %}
    </form>
  </div>
</section>
{% endblock %}
