{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load product_tags %}
{% load checkout_tags %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Dashboard{% endblock %}


{# Dashboard Content #}
{% block content %}

<main id="userDashboard">

	{# Dashboard Header #}
	<header>
		<div class="jumbotron jumbotron-fluid bg-dark">
			<div class="container">
				<div class="page-heading">

					{# Heading Text #}
					<h1 class="display-4">Your Dashboard</h1>
					<p class="lead">Manage your account, sales, and purchases</p>
					{# /.Heading Text #}

				</div>
				<div class="page-subheading text-white">
					
					{# Subheading Text #}
					<hr class="my-4">
					<p>You are logged in as {{ request.user.username }}</p>
					<p class="">your email is {{ request.user.email}}</p>
					{# /.Subheading Text #}

				</div>
			</div>
		</div>
	</header>
	{# /.Dashboard Header #}
	
	{# Sales Table #}
	<section class="user-dashboard-sales container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Sales</h2>
				{% if products %}
				<div class="table-responsive">
					<table class="table table-hover">

						{# Column Titles #}
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product Name</th>
								<th scope="col"></th>
								<th scope="col">Sold</th>
								<th scope="col">Views</th>
								<th scope="col">Avg. Rating</th>
								<th scope="col">Total Earned</th>
								<th scope="col"></th>
							</tr>
						</thead>
						{# /.Column Titles #}

						{# Rows #}
						<tbody>
							{% for product in products %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ product.name }}</td>
								<td><a class="btn btn-success" href="{{ product.get_edit_product_url }}">Edit</a></td>
								<td>{{ product.sold_count }}</td>
								<td>{{ product.view_count }}</td>
								<td>{% if product|get_review_count != 0 %}{{ product|get_average_rating }} ({{ product|get_review_count }}){% else %}not yet rated{% endif %}</td>
								<td>&euro;{% get_total_for_sold_product product %}</td>
								<td><a class="btn btn-danger" href="{{ product.get_delete_product_url }}">Delete</a></td>
							</tr>
							{% endfor %}
						</tbody>
						{# /.Rows #}

					</table>
				</div>
				<a class="btn btn-primary" href="{% url 'new_product' %}">List New Product</a>
				<a class="btn btn-primary" href="{% url 'sales_history' %}">View Detailed Sales History</a>
				{% else %}
				<p>You have no products listed...</p>
				<a class="btn btn-primary" href="{% url 'new_product' %}">Start Selling!</a>
				{% endif %}
			</div>
		</div>
	</section>
	{# /.Sales Table #}

	{# Purchases Table #}
	<section class="user-dashboard-purchases container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Purchases</h2>
				{% if owned_assets %}
				<div class="table-responsive">
					<table class="table table-hover">

						{# Column Titles #}
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product Name</th>
								<th scope="col">Seller</th>
								<th scope="col">Download</th>
							</tr>
						</thead>
						{# /.Column Titles #}

						{# Rows #}
						<tbody>
							{% for asset in owned_assets %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								{# product link to latest file version else last available #}
								<td><a href="{{asset.get_absolute_url}}">{{ asset.name }}</a></td>
								{# product link to latest file version else last available #}
								<td><a href="{% url 'profile' asset.seller.username %}">{{ asset.seller.username }}</a></td>
								<td><a class="btn btn-success" href="{% if asset.product.product_file.url %}{{ asset.product.product_file.url }}{% else %}{{ asset.product_file.url }}{% endif %}">Downlaod</a></td>
							</tr>
							{% endfor %}
						</tbody>
						{# /.Rows #}

					</table>
				</div>
				<a class="btn btn-primary" href="{% url 'purchases_history' %}">View Detailed Purchase History</a>
				{% else %}
				<p>You haven't purchased any products yet.</p>
				{% endif %}
				
			</div>
		</div>
	</section>
	{# /.Purchases Table #}

	{# Personal Details #}
	<section class="user-dashboard-details container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Personal Details</h2>
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>NOTE:</strong> Please make sure your billing details are up to date.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
				<p>Address{% if user.address2 %}1{% endif %}: {{ user.address1 }}</p>
				{% if user.address2 %}<p>Address2: {{ user.address2 }}</p>{% endif %}
				<p>City or Town: {{ user.city_town }}</p>
				<p>Post Code: {{ user.post_code }}</p>
				<p>Country: {{ user.country }}</p>
				{# Dashboard Account Utility Links #}
				<a class="btn btn-primary" href="{% url 'update' %}">Update Personal Details</a>
				<a class="btn btn-primary" href="{% url 'change_password' %}">Change Password</a>
			</div>
		</div>
	</section>
	{# /.Personal Details #}

</main>
{% endblock %}