{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load product_tags %}
{% load checkout_tags %}

{# Load required css #}
{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Dashboard{% endblock %}


{# Dashboard Content #}
{% block content %}

<main id="userDashboard">

	{# Dashboard Header #}
	<header>
		<div class="jumbotron jumbotron-fluid bg-dark mb-0">
			<div class="container">
				
				{# Heading Text #}
				<div class="page-heading">
					<h1 class="display-4">Your Dashboard</h1>
					<p class="lead">Manage your account, sales, and purchases</p>
				</div>
				{# /.Heading Text #}

				{# Subheading Text #}
				<div class="page-subheading text-white">
					<hr class="my-4">
					<p>You are logged in as {{ request.user.username }}</p>
					<p class="">your email is {{ request.user.email}}</p>
				</div>
				{# /.Subheading Text #}

			</div>
		</div>
		{# /.Dashboard Header #}

		{# Account Balance #}
		<div class="account-balance text-white bg-indigo text-center text-sm-left pt-5 pb-4 py-sm-3">
			<div class="container">
				<div class="row">							
					<div class="col-sm-12">
						<h5 class="text-uppercase font-weight-bold">Account Balance</h5>
						<div class="euro-balance">
							&euro;{% get_account_balance request.user %}
							<!-- Payout - trigger modal -->
							<button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#payoutModal">
								Payout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{# /.Account Balance #}

	</header>
	{# /.Dashboard Header #}
	
	{# Sales Table #}
	<section class="user-dashboard-sales container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Sales</h2>
				{% if products %}
					<div class="table-responsive">
						<table class="table table-hover">

							{# Sales Column Titles #}
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Product Name</th>
									<th scope="col">Edit</th>
									<th scope="col">Sold</th>
									<th scope="col">Views</th>
									<th scope="col">Avg. Rating</th>
									<th scope="col">Total Earned</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							{# /.Sales Column Titles #}

							{# Sales Rows #}
							<tbody>
							{% for product in products %}
								{% if product.active %}
									<tr>
										<th scope="row">{{ forloop.counter }}</th>
										<td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
										<td><a class="btn btn-success px-3 " href="{{ product.get_edit_product_url }}"><i class="fas fa-pencil-alt"></a></td>
										<td>{{ product.sold_count }}</td>
										<td>{{ product.view_count }}</td>
										<td>{% if product|get_review_count != 0 %}{{ product|get_average_rating }} ({{ product|get_review_count }}){% else %}not yet rated{% endif %}</td>
										<td>&euro;{% get_total_for_sold_product product %}</td>
										<td><a class="btn btn-danger px-3" href="{{ product.get_delete_product_url }}"><i class="far fa-trash-alt"></i></a></td>
									</tr>
								{% else %}
									<tr class="product-inactive">
										<th scope="row">{{ forloop.counter }}</th>
										<td>{{ product.name }} <strong>(Deleted)</strong></td>
										<td></td>
										<td>{{ product.sold_count }}</td>
										<td>{{ product.view_count }}</td>
										<td>{% if product|get_review_count != 0 %}{{ product|get_average_rating }} ({{ product|get_review_count }}){% else %}not rated{% endif %}</td>
										<td>&euro;{% get_total_for_sold_product product %}</td>
										<td><a class="btn btn-success px-3" href="{{ product.get_undelete_product_url }}">Relist</a></td>
									</tr>
								{% endif %}
							{% endfor %}
							</tbody>
							{# /.Sales Rows #}

						</table>
					</div>
					{# Sales buttons #}
					<a class="btn btn-primary btn-block-xs" href="{% url 'new_product' %}">List New Product</a>
					<a class="btn btn-primary btn-block-xs" href="{% url 'sales_history' %}">View Detailed Sales History</a>
				{% else %}
					<p>You have no products listed...</p>
					<a class="btn btn-primary btn-block-xs" href="{% url 'new_product' %}">Start Selling!</a>
				{% endif %}
			</div>
		</div>
	</section>
	{# /.Sales Table #}

	{# Purchases Table #}
	<section class="user-dashboard-purchases container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Purchases</h2>
				{% if owned_assets %}
					<div class="table-responsive">
						<table class="table table-hover">

							{# Purchase Column Titles #}
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Product Name</th>
									<th scope="col">Seller</th>
									<th scope="col">Download</th>
								</tr>
							</thead>
							{# /.Purchase Column Titles #}

							{# Purchase Rows #}
							<tbody>
								{% for asset in owned_assets %}
									{% if asset.active %}
										<tr>
											<th scope="row">{{ forloop.counter }}</th>
											<td><a href="{{asset.get_absolute_url}}">{{ asset.name }}</a></td>
											<td><a href="{% url 'profile' asset.seller.username %}">{{ asset.seller.username }}</a></td>
											<td><a class="btn btn-success px-3 mx-3" href="{% if asset.product.product_file.url %}{{ asset.product.product_file.url }}{% else %}{{ asset.product_file.url }}{% endif %}"><i class="fas fa-download"></i></td>
										</tr>
									{% else %}
										<tr>
											<th scope="row">{{ forloop.counter }}</th>
											<td>{{ asset.name }} (Unlisted by User)</td>
											<td>{{ asset.seller.username }}</td>
											{# Purchases buttons #}
											<td><a class="btn btn-success px-3 mx-3" href="{% if asset.product.product_file.url %}{{ asset.product.product_file.url }}{% else %}{{ asset.product_file.url }}{% endif %}"><i class="fas fa-download"></i></td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
							{# /.Purchase Rows #}

						</table>
					</div>
					<a class="btn btn-primary btn-block-xs" href="{% url 'purchases_history' %}">View Detailed Purchase History</a>
				{% else %}
					<p>You haven't purchased any products yet.</p>
				{% endif %}
				
			</div>
		</div>
	</section>
	{# /.Purchases Table #}

	{# User Details #}
	<section class="user-dashboard-details container">
		<div class="row">
			<div class="col">
				<h2 class="mb-3">Your Personal Details</h2>
				<div class="table-responsive">
					<table class="table table-hover">

						{# User Details Column Titles #}
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						{# /.User Titles #}

						{# User Details Rows #}
						<tbody>
							{% for key, value in user_billing.items %}
								<tr>
									<th scope="row">{{ key|title }}</th>
									<td>{{ value|default:"----" }}</a></td>
								</tr>
							{% endfor %}
						</tbody>
						{# /.User Details Rows #}

					</table>
				</div>
				{# Dashboard Account Utility Links #}
				<a class="btn btn-primary btn-block-xs" href="{% url 'update' %}">Update Personal Details</a>
				<a class="btn btn-primary btn-block-xs" href="{% url 'change_password' %}">Change Password</a>
			</div>
		</div>
	</section>
	{# /.User Details #}

</main>


<!-- Modal -->
<div class="modal fade" id="payoutModal" tabindex="-1" role="dialog" aria-labelledby="payoutModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="payoutModalLabel">Account Balance Payout</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>We wish we could!</h3>
				<p>As RTarchViz is a fictional company with fictional products we cannot make a payout :)</p>
				<p class="italic-font">If you're really interested in this service then drop me an email on info@rtarchviz.com (it's a real email address) Who knows, maybe one day this project will become a reality</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}