{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Dashboard{% endblock %}

{# Dashboard #}
{% block content %}
<main id="userDashboard">
	{# Dashboard Header #}
	<header class="user-dashboard-header">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Your Dashboard</h1>
				<p class="lead">You are logged in as: {{ request.user.username }}</p>
				<p class="lead">your email: {{ request.user.email}}</p>
			</div>
		</div>
	</header>
	
		{# Dashboard Sales #}
	<section class="user-dashboard-sales container">
			<div class="row">
				<div class="col">
					<h2 class="mb-3">Your Sales</h2>
					{% if products %}
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Product Name</th>
									<th scope="col">Utilities</th>
									<th scope="col">Sold</th>
									<th scope="col">Views</th>
									<th scope="col">Rating</th>
									<th scope="col">Total Earned</th>
								</tr>
							</thead>
							<tbody>
								{% for product in products %}
								<tr>
									<th scope="row">{{ forloop.counter }}</th>
									<td>{{ product.name }}</td>
									<td><a class="btn btn-danger" href="{{ product.get_delete_product_url }}">Delete</a><a class="btn btn-secondary" href="{{ product.get_edit_product_url }}">Edit</a></td>
									<td>{{ product.sold_count }}</td>
									<td>{{ product.view_count }}</td>
									<td>*****</td>
									<td>loads of cash</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<a class="btn btn-primary" href="{% url 'new_product' %}">List New Product</a>
					<a class="btn btn-primary disabled" href="#">View Detailed Sales History</a>
					{% else %}
					<p>You have no products listed...</p>
					<a class="btn btn-primary" href="{% url 'new_product' %}">Start Selling!</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	{# Dashboard Purchases #}
	<section class="user-dashboard-purchases container">
			<div class="row">
				<div class="col">
					<h2 class="mb-3">Your Purchases</h2>
					<p>...</p>
					<p>...</p>
					<a class="btn btn-primary disabled" href="#">View Detailed Purchase History</a>
				</div>
			</div>
		</div>
	</section>

	{# Dashboard Personal Details #}
	<section class="user-dashboard-details container">
			<div class="row">
				<div class="col">
					<h2 class="mb-3">Your Personal Details</h2>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>NOTE:</strong> Please make sure your billing details are up to date.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
					<p>Address{% if user.address2 %}1{% endif %}: {{ user.address1 }}</p>
					{% if user.address2 %}<p>Address2: {{ user.address2 }}</p>{% endif %}
					<p>City or Town: {{ user.city_town }}</p>
					<p>Post Code: {{ user.post_code }}</p>
					<p>Country: {{ user.country }}</p>
					{# Dashboard Account Utility Links #}
					<a class="btn btn-primary" href="{% url 'update' %}">Update Personal Details</a>
					<a class="btn btn-primary" href="{% url 'change_password' %}">Change Password</a>
				</div>
			</div>
		</div>
	</section>

</main>
{% endblock %}