{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Login{% endblock %}

{# Load the UserLoginForm #}
{% load bootstrap4 %}

{# Display the #}
{% block content %}
<section id="login">
	<div class="container">
		<h2>Login to your account</h2>
		<form role="form" method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
			<button type="submit" class="btn btn-primary">Submit</button>
			{% endbuttons %}
			<div>
				<a href="{% url 'password_reset' %}">Forgot password</a>
			</div>
		</form>
	</div>
</section>
{% endblock %}