{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required css #}
{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Login{% endblock %}

{# Login Page content #}
{% block content %}
<main id="login">
	
	{# Login Header #}
	<header>
		<div class="jumbotron jumbotron-fluid bg-dark">
			<div class="container">

				{# Heading Text #}
				<div class="page-heading">
					<h1 class="display-4">Login</h1>
					<p class="lead">Access your account and dashboard</p>
				</div>
				{# /.Heading Text #}

				{# Subheading Text #}
				<div class="page-subheading text-white">
					<hr class="my-4">
					<p>Don't have an account yet?</p>
					<a class="btn btn-danger btn-lg mb-4 mb-md-0" href="{% url 'register' %}" role="button">Register Now</a>
				</div>
				{# /.Subheading Text #}
	
			</div>
		</div>
	</header>
	{# /.Login Header #}
		
	{# Login Form #}
	<section>
		<div class="container">
			<h2>Login to your account</h2>
			<hr>
			<form role="form" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				{% bootstrap_form form %}

				{% buttons %}
					<button type="submit" class="btn btn-primary">Login</button>
				{% endbuttons %}
				<div>
					<a href="{% url 'password_reset' %}">Forgot password</a>
				</div>
			</form>
		</div>
	</section>
	{# /.Login Form #}

</main>
{% endblock %}