{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}{{ user.username }}'s Profile{% endblock %}

{# Profile #}
{% block content %}
<main id="userProfile">

	{# Profile Header #}
	<header class="user-profile-header">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">{% if user == request.user %}Your Profile{% else %}{{ user.username }}'s Profile{% endif %}</h1>
				<p class="lead">member since {{ user.date_joined|date:"N d, Y" }}</p>
				{% if request.user.is_authenticated and request.user == user %}
					<hr>
					<a class="btn btn-primary" href="{% url 'dashboard' %}">View Your Dashbaord</a>
				{% endif %}
			</div>
		</div>
	</header>

	{# Profile User Bio #}
	<section class="user-profile container">
			<div class="row">
				<div class="col">
					
					<h2 class="mb-3">Bio</h2>
					<p>{{ user.bio }}</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Profile User Products List placeholder -->
	{% if products %}
	<section class="user-profile-products container">
		<h2 class="mb-3">{{ user.username }}'s Products</h2>
		<div class="user-profile-products-cards">
			<div class="row">
				{% for product in products %}
				<div class="w-50 col-md-4 col-lg-3">
					<div class="card mb-5">
						<a href="{{ product.get_product_detail_url }}">
							<div class="card-img-top" style="background-image: url('{% if product.main_image %}/media/{{ product.main_image }}{% else %}http://placehold.it/300x200?text=bkg-img{% endif %}');"></div>
						</a>
						<div class="card-body">
							<h5 class="card-title"><a href="{{ product.get_product_detail_url }}">{{ product.name }}</a></h5>
							<p class="card-text">{{ added_date }}</p>
							<p class="card-text float-left"><small class="text-muted">rating</small></p>
							<p class="card-text float-right">&euro;{{ product.price }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}

	<!-- Links to other Users.   for testing - remove when done -->
	<section class="user-profile-others container">
			<div class="row">
				<div class="col">
					<h2 class="mb-3">Other user profiles <span class="text-muted">(for testing)</span></h2>
					<a href="{% url 'user_list' %}">Access full list of registered users here</a>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}