{% extends "base.html" %}
{% load staticfiles %}

{# Load required js and css #}
{% block body_js %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}

{# set page info #}
{% block page_title %}Update User Details{% endblock %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display a form #}
{% block content %}
<section id="login">
	<div class="container">
		<h2>Update your account details</h2>
		<form role="form" method="POST" action="{% url 'update' %}">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="{% url 'dashboard' %}" class="btn btn-primary">Cancel</a>
			{% endbuttons %}
		</form>
	</div>
</section>
{% endblock %}