{% extends "base.html" %}
{% load staticfiles %}

{# load custom template tags #}
{% load bootstrap4 %}

{# Load required js and css #}
{% block body_js %}

{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{# set page info #}
{% block page_title %}Review your items in cart{% endblock %}

{# Cart content #}
{% block content %}
<main id="Cart">

  {# Cart Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        
        {# Heading Text #}
        <div class="page-heading">
          <h1 class="display-4">Cart</h1>
          <p class="lead">Review your cart's contents</p>
        </div>
        {# /.Heading Text #}

        {# Subheading Text #}
        <div class="page-subheading text-white">
          <hr class="my-4">
          <p>Once you're ready, continue to checkout to complete your order</p>
        </div>
        {# /.Subheading Text #}

      </div>
    </div>
  </header>
  {# /.Cart Header #}

  <section class="cart-items container">

    {# Clear Cart Button #}
    {% if cart_items %}
      <div class="d-flex justify-content-between">
        <p>You have {{ product_count }} item{{ product_count|pluralize:"s"}} in your cart</p>
        <div>
          <a href="{% url 'clear_cart' %}" class="btn btn-danger mb-5">Remove All Items</a>
        </div>
        
      </div>
    {% endif %}
    {# /.Clear Cart Button #}

      {# Cart items #}
      {% for item in cart_items %}
        <div class="list-group-item list-group-item-action flex-row align-items-start">
          <div class="d-sm-flex justify-content-start">
            <div class="">
              <div class="cart-product-image" style="background-image: url('{% if item.main_image %}{{ item.main_image.url }}{% else %}http://placehold.it/500?text=bkg-img{% endif %}');"></div>
            </div>
            <div class="d-flex justify-content-between w-100">
              <div class="">
                <div class="d-flex">
                  <h5 class="mb-1 text-primary"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h5>
                </div>
                <p class="mb-1">{{ item.category }}</p>
                <p class="mb-1">by <a href="{% url 'profile' item.seller.username %}">{{ item.seller.username }}</a></p>
              </div>
              <div class="d-flex justify-content-between flex-column align-items-start justify-content-start align-items-end">
                <span class="h3 ">{{ item.euro_price }}</span>
                <a href="{% url 'remove_cart_item' item.id %}" class="btn btn-danger">Remove Item</a>
              </div>
            </div>
          </div>
        </div>
        {# /.Cart items #}

      {# Empty Cart Message #}
      {% empty %}
        <p>You haven't added any items to your cart</p>
      {% endfor %}
      
  </section>
  <section class="cart-summary container d-flex justify-content-between">

    {# Total #}
    <div class="total ">
      <span class="h2">Total: &euro;{{ total }}</span>
    </div>
    {# /.Total #}

    {# Checkout button #}
    <div class="align-self-start">
      {% if product_count != 0 %}
      <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
      {% else %}
      <a href="{% url 'checkout' %}" class="btn btn-primary disabled">Checkout</a>
      {% endif %}
    </div>
    {# /.Checkout button #}
    
  </section>
</main>
{% endblock %}
