{% extends "base.html" %}
{% load staticfiles %}

{# set page info #}
{% block page_title %}403 Forbidden {{ product.name }}{% endblock %}


{# 403 content #}
{% block content %}

<main id="404">

  {# 404 Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        
        {# Heading Text #}
        <div class="page-heading">
        <h1 class="display-4">404 Page Not Found</h1>
          <p class="lead">The page you're trying to access does not exits<strong>{{ product.name }}</strong></p>
        </div>
        {# /.Heading Text #}
        
      </div>
    </div>
  </header>
  {# /.404 Header #}

  {# 404 text #}
  <section class="product-detail container">
    <p>Hi There! Not sure how you got here, but here are a few things you can do:</p>
    <ul>
      <li><a href="{% url 'posts_list' %}">Read about the latest RTarchViz news in our blog</a></li>
      <li><a href="{% url 'products_list' %}">Shop for some great Unreal Engine assets</a></li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'dashboard' %}">Access your dashboard and list a product</a></li>
      {% endif %}
    </ul>
  </section>
</main>
{% endblock %}
