{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}{% endblock %}</title>
  <!-- Bootstrap CSS: -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Glboal CSS: -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/global-styles.css' %}">
  <!-- App/page specific CSS: -->
  {% block head_css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-underline">
    <div class="container">
      <a class="navbar-brand" href="{% url 'homepage' %}">RTarchViz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% with url_name=request.resolver_match.url_name %}
          <li class="nav-item {% if url_name == 'homepage'  %}active{% endif %}">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item {% if url_name == 'products_list'  %}active{% endif %}">
            <a class="nav-link" href="{% url 'products_list' %}">Shop</a>
          </li>
          <li class="nav-item {% if url_name == 'posts_list'  %}active{% endif %}">
            <a class="nav-link" href="{% url 'posts_list' %}">Blog</a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item {% if url_name == 'login'  %}active{% endif %}">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item {% if url_name == 'register'  %}active{% endif %}">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item {% if url_name == 'profile' %}active{% endif %}">
            <a class="nav-link" href="{{ user.get_absolute_url }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          {% endwith %}
        </ul>
      </div>
    </div>
  </nav>
  
  {% block header%}
  {% endblock %}

  {% if messages %}
      <div class="auth-messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
  {% endif %}

  {% block content %}
  {% endblock %}

  <footer class="text-white bg-dark p-3 mt-5">
    <div class="container">
      Footer
    </div>
  </footer>

  <!-- Bootstrap 4.0 JS and its dependencies: -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- GLOBAL JS:  -->
  <script src="{% static 'js/global-scripts.js' %}"></script>
  <!-- App/page specific JS: -->
  {% block body_js %}{% endblock %}

</body>
</html>