{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Glboal CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/global-styles.css' %}">
  <!-- App/page specific CSS -->
  {% block head_css %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="row">
          <h1 class="logo"><a href="{% url 'index' %}">DjangoBlog</a></h1>
          <ul>
            <li><a href="/">Log Out</a></li>
            <li><a href="/">Register</a></li>
            <li><a href="/">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% if messages %}
      <div class="auth-messages">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
  {% endif %}
  <main>
    
    <!--blog entries-->
    {% block content %}
    {% endblock %}
    <!--end blog entries-->

  </main>
  <footer>
    <div class="container">
      Footer
    </div>
  </footer>
  <!-- Bootstrap 4.0 JS and its dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- GLOBAL JS  -->
  <script src="{% static 'js/global-scripts.js' %}"></script>
  <!-- App/page specific JS -->
  {% block body_js %}{% endblock %}

</body>
</html>