{% extends 'base.html' %}
{% load staticfiles %}

{# load custom template tags #}
{% load blog_tags %}
{% load product_tags %}

{# Load required js and css #}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block body_js %}
<script src="{% static 'js/products.js' %}"></script>
{% endblock %}

{% block page_title %}Unreal Engine assets for real-time arch viz projects{% endblock %}

{# Homepage content #}
{% block content %}
<main id="homePage">
  
  {# Homepage Header #}
  <header>
    <div class="jumbotron jumbotron-fluid bg-dark">
      <div class="container">
        <div class="page-heading">

          {# Heading Text #}
          <h1 class="display-4">Welcome to <strong class="font-weight-bold">RTarchViz</strong></h1>
          <p class="lead">Marketplace for high quality assets specially created for Real-Time Architectural Visualizations in Unreal&nbsp;Engine&nbsp;4</p>
          {# /.Heading Text #}

        </div>
        <div class="page-subheading text-white">
          
          {# Subheading Text #}
          <hr class="my-4">
          <a class="btn btn-primary btn-lg mb-4 mb-md-0" href="{% url 'products_list' %}" role="button">Shop All Products Now</a>
          {# /.Subheading Text #}

        </div>
      </div>
    </div>
  </header>
  {# /.Homepage Header #}

  {# Recent Products #}
  <section class="homepage-products">
    <div class="container">
      <h2>Recent Products</h2>
      <hr>
      {% recent_products request num=6 md='6' lg='4' %}
    </div>
  </section>
  {# /.Recent Products #}

  {# Recent Blog Posts #}
  <section class="homepage-posts">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Recent Blog Posts</h2>
          <hr>
          {% home_recent_posts num=4 %}
        </div>
      </div>
    </div>
  </section>
  {# /.Recent Blog Posts #}

</main>
{% endblock %}
